body{
    background-color: rgb(210, 228, 228);
}
h1{
    color:rgb(55, 107, 55)
    text-align:center;
    font: size 30px;
}
p{color: rgb(32, 32, 32);
    text-align: center;
    font: size 25px; 
}